

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form #signup = "ngForm" (ngSubmit)="onsignin()">
        <ng-container ngModelGroup="userdetails">
          <div class="form-group">
            <label for="userName">UserName*</label>
            <input
            (keyup)="onusername($event)"
            class="form-control"
            minlength="8"
            maxlength="12"
            ngModel
            required
            type="text" id="userName"
            name="userName"
            #userName="ngModel"
            pattern="[a-zA-Z]+">
            <!-- <input

            class="form-control"
            minlength="8"
            maxlength="12"
            ngModel
            required
            type="text" id="userName"
            name="userName"
            #userName="ngModel"
            pattern="[a-zA-Z]+"> -->

            <strong class="text-danger"
            *ngIf="userName.touched && userName.hasError('required')">
            UserName is required field.</strong>

            <strong class="text-danger"
            *ngIf="userName.dirty && userName.hasError('pattern')">
            Invalid pattern.</strong>

            <strong class="text-danger"
            *ngIf="userName.dirty && userName.hasError('minlength')">
            Minimum length should be 8 character.</strong>

            <strong class="text-danger"
            *ngIf="userMaxFlag">
            Maximum length should be 12 character.</strong>
          </div>

          <div class="form-group">
            <label for="email">Email*</label>
            <input
            class="form-control" type="text" id="email"
            required
            ngModel
            name="email"
            #email="ngModel"
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">

            <strong class="text-danger"
            *ngIf="email.touched && email.hasError('required')">
            email is required field.</strong>

            <strong class="text-danger"
            *ngIf="email.dirty && email.hasError('pattern')">
            Invalid pattern.</strong>
          </div>
        </ng-container>

        <div class="form-group">
          <label for="secretQuestion">secretQuestion*</label>
          <select
          required
          ngModel
          #secretQuestion="ngModel"
          name="secretQuestion"
          class="form-control"
          id="secretQuestion"
          type="text">
          <option value="Favourite Movie">Favourite Movie</option>
          <option value="Favourite place">Favourite place</option>
          </select>

          <strong class="text-danger"
          *ngIf="secretQuestion.touched && email.hasError('required')">
          secretQuestion is required field.</strong>

          </div>


          <div class="form-group">
            <label for="answer">Answer</label>
            <input
            required
            ngModel
            #answer="ngModel"
            name="answer"
            type="text" class="form-control" id="answer">

          <strong class="text-danger"
          *ngIf="answer.touched && answer.hasError('required')">
          answer is required field.</strong>
          </div>

          <div class="form-group">
            <label for="isSubscribed">
              <input ngModel type="checkbox" id="isSubscribed" name="isSubscribed">
              subscribe for daily emails.
            </label>
          </div>

          <div class="form-group">
            <label [for]="moc.mode" *ngFor="let moc of contactMode">
              <input
              type="radio"
              [id]="moc.mode"
              name="moc"
              [value]="moc.mode"
              ngModel>{{moc.mode}}
            </label>
          </div>

          <!-- <div class="form-group">
            <label for="mocphone"></label>
            <input
            ngModel
            type="radio"
            id="mocphone"
            name="moc"
            value="phone">Phone


            <label for="mocemail" class="mr-3"></label>
            <input
            ngModel
            type="radio"
            id="mocemail"
            name="moc"
            value="email">Email
            </div> -->
        <button class="btn btn-sm btn-block bg-primary">Sign Up</button>
        <button
        (click)="onEdit()"
        type="button" class="btn btn-sm btn-block bg-primary">Patch Info</button>
      </form>
    </div>
  </div>
</div>
